@import "tailwindcss";

/* ---------------------------
   GLOBAL COLORS
---------------------------- */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Montserrat', sans-serif;
  --font-numeric: 'Roboto Mono', monospace;
}

/* ---------------------------
   GLOBAL RESET
---------------------------- */
body {
  background-color: #F0FDF4; /* Eco Fresh background */
  color: var(--foreground);
   font-family: var(--font-primary);
  background: #f5f7f8;
}

/* Hilangkan dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff !important;
    --foreground: #171717 !important;
  }
}
